{%- for alias_file in alias_files %} 

## aliases in [{{alias_file[0][alias_file[0].rfind("/")+1:]}}]({{alias_file[0]}})

| alias | command |
| ----- | ------- |
{%- for alias in alias_file[1] %} 
| <code>{{alias[0] }}</code> | <code>{{ alias[1] }}</code> | 
{%- endfor %}

{%- endfor %}

